.home {
 display: flex;
 flex-direction: row;
 justify-content: space-between;
}
.n2{
 width: 30px;
 height: 15px;
 padding-top: 3px;
 padding-bottom: 3px;
 border-radius: 10px;
 background-color: rgb(49, 119, 250);
 color: white;
 text-align: center;
 font-size: 12px;
 font-weight: bold;
 font-family: Arial, Helvetica, sans-serif;
}
.n1{
 padding-top: 3px;
 padding-bottom: 3px;
}
.l12e{
 border-style: solid;
 width: 300px;
 border-width: 1px;
 border-radius: 5px;
 border-color: gray;
 padding-left: 7px;
 padding-right: 5px;
 padding-top: 3px;
 padding-bottom: 3px;
 margin-left: 25px;
 margin-top: 10px;
 margin-bottom: 10px;
}
.l12g{
 border-style: solid;
 width: 300px;
 border-width: 1px;
 border-radius: 5px;
 border-color: gray;
 display: grid;
 grid-template-columns: 1fr;
 padding-left: 7px;
 padding-right: 5px;
 padding-top: 3px;
 padding-bottom: 3px;
 margin-left: 25px;
 margin-top: 10px;
 margin-bottom: 10px;
}
.info{
 display: flex;
 flex-direction: row;
 align-items: center;
 padding-left: 5px;
 padding-right: 5px;
 padding-top: 5px;
 padding-bottom: 5px;
}
.pic{
 width: 50px;
 margin-right: 10px;
}
.data{
 flex: 1;
}
.button{
 width: 60px;
}
.profile {
 width: 50px;
 height: 50px;
 border-radius: 50px;
 object-fit: cover;
}
.name {
 font-weight: bold;
 font-family: Arial, Helvetica, sans-serif;
 font-size: 12px;
 padding-top: 2px;
 padding-bottom: 2px;
}
.nn, .status{
 font-family: Arial, Helvetica, sans-serif;
 font-size: 12px;
 padding-top: 2px;
 padding-bottom: 2px;
 color: gray;
}
.follow{
 font-size: 13px;
 font-weight: bold;
 border-radius: 3px;
 border-style: none;
 padding-left: 8px;
 padding-right: 8px;
 padding-top: 5px;
 padding-bottom: 5px;
 margin-right: 15px;
 color: white;
 background-color: rgb(103, 156, 255);
}
.search-container{
 display: flex;
 flex-direction: row;
 max-width: 350px;
 background-color: rgb(162, 93, 194);
 border-radius: 3px;
 padding: 5px;
 align-items: center;
}
.search-home{
 color: white;
 font-family: Arial, Helvetica, sans-serif;
 font-weight: bold;
 font-size: 12px;
 width: 60px;
}
.searchbar{
 border-radius: 25px;
 border-style: none;
 padding-left: 10px;
 padding-top: 5px;
 padding-bottom: 5px;
 font-size: 11px;
 width: 180px;
}
.searchbar1{
 flex: 1;
}
.dlb{
 font-family: Arial, Helvetica, sans-serif;
 font-size: 12px;
 border-style: solid;
 border-width: 1px;
 border-color: white;
 border-radius: 3px;
 color: white;
 padding-left: 10px;
 padding-right: 10px;
 padding-top: 5px;
 padding-bottom: 5px;
 background-color: rgb(162, 93, 194);
}



