button{
 padding-left: 12px;
 padding-right: 12px;
 padding-top: 12px;
 padding-bottom: 12px;
 border-style: none;
 font-weight: bold;
 font-family: Arial, Helvetica, sans-serif;
 font-size: 11px;
}
.logo {
 width: 300px;
}
.googlesearch {
 font-size: 12px;
 border-style: none;
 border-radius: 25px;
 width: 340px;
 box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
 padding-left: 10px;
 padding-top: 10px;
 padding-bottom: 10px;
}
.div-logo{
 text-align: center;
}
.div-searchbar{
 text-align: center;
 margin-bottom: 15px;
}
.button {
 text-align: center;
 margin-top: 15px;
}
.search {
 margin-right: 5px;
}